<!doctype html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Focus</title>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    </head>
    <body>
        What do you want to do today?

        <input type="text" placeholder="Enter your task" id="task" />
        <button id="submit">Submit</button>

        <div>
            <ul id="hint-list"></ul>
        </div>

        <div>
            <ul id="pre-list"></ul>
            <button id="confirm">Confirm</button>
        </div>

        <div>
            <ul id="todo-list"></ul>
        </div>

        <div id="timer">xx:xx</div>

        <style>
            input:not(.check) {
                width: 200px;
            }
            #confirm {
                display: none;
            }
            #timer {
                display: none;
            }
        </style>

        <script>
            let taskChangeTimeout;
            $('#task').on('input', (e) => {
                if ($('#task').val().trim().length < 7) {
                    return;
                }

                if (taskChangeTimeout) {
                    clearTimeout(taskChangeTimeout);
                }
                taskChangeTimeout = setTimeout(() => {
                    $.ajax({
                        url: '/api/fetchHints/',
                        type: 'POST',
                        data: {
                            task: $('#task').val()
                        },
                        success: (data) => {
                            console.log(data);
                            if (!data.success) {
                                alert('error');
                                return;
                            }
                            $('#hint-list').empty();
                            for (let i = 0; i < data.hints.length; i++) {
                                $('#hint-list').append(`
                        <li>
                            ${data.hints[i]}
                        </li>`);
                            }
                        }
                    });
                    taskChangeTimeout = null;
                }, 3000);
            });

            let steps = [];
            $('#submit').click(() => {
                clearTimeout(taskChangeTimeout);
                $.ajax({
                    url: '/api/fetchSteps/',
                    type: 'POST',
                    data: {
                        task: $('#task').val()
                    },
                    success: (data) => {
                        console.log(data);
                        if (!data.success) {
                            alert('error');
                            return;
                        }
                        steps = data.steps;
                        $('#pre-list').empty();
                        $('#todo-list').empty();
                        $('#confirm').show();
                        for (let i = 0; i < steps.length; i++) {
                            $('#pre-list').append(`
                            <li>
                                <input type="text" value="${steps[i].detail}" class="detail" step-id="${i}"/>
                                <input type="number" value="${steps[i].time}" class="time" step-id="${i}"/>
                            </li>`);
                        }
                    }
                });
            });

            $(document).on('input', '.detail', (e) => {
                let id = $(e.target).attr('step-id');
                let detail = $(e.target).val();
                steps[id].detail = detail;
                console.log(steps);
            });

            $(document).on('input', '.time', (e) => {
                let id = $(e.target).attr('step-id');
                let time = $(e.target).val();
                steps[id].time = time;
                console.log(steps);
            });

            $('#confirm').click(() => {
                $('#todo-list').empty();
                $('#pre-list').empty();
                $('#confirm').hide();
                for (let i = 0; i < steps.length; i++) {
                    $('#todo-list').append(`
                    <li>
                        <input type="checkbox" class="check" step-id="${i}"/>
                        <span class="todo-item" step-id="${i}">${steps[i].detail}
                        -
                        ${steps[i].time} minutes
                        </span>
                    </li>`);
                }

                $('.check').change((e) => {
                    let id = $(e.target).attr('step-id');
                    let checked = $(e.target).is(':checked');
                    steps[id].finished = checked;

                    if (steps.every((step) => step.finished)) {
                        alert('Great!');
                        location.reload();
                    }
                });
            });

            let currTimer;

            $(document).on('click', '.todo-item', (e) => {
                $('#timer').show();

                let id = $(e.target).attr('step-id');
                if (steps[id].finished) {
                    return;
                }

                if (currTimer) {
                    clearInterval(currTimer);
                    currTimer = null;
                }
                if (!steps[id].remainTime) {
                    steps[id].remainTime = steps[id].time * 60;
                }

                $('#timer').text(
                    `${Math.floor(steps[id].remainTime / 60)}:${Math.floor((steps[id].remainTime % 60) / 10)}${
                        steps[id].remainTime % 10
                    }`
                );
                currTimer = setInterval(() => {
                    steps[id].remainTime--;
                    $('#timer').text(
                        `${Math.floor(steps[id].remainTime / 60)}:${Math.floor((steps[id].remainTime % 60) / 10)}${
                            steps[id].remainTime % 10
                        }`
                    );

                    if (steps[id].remainTime <= 0) {
                        alert('Time is up!');
                        clearInterval(currTimer);
                        currTimer = null;
                        $('#timer').hide();
                    }
                }, 1000);
            });
        </script>
    </body>
</html>
