<%- include("components/header.ejs") %>

What do you want to do today?

<input type="text" placeholder="Enter your task" id="task" />
<button id="submit">Submit</button>

<div>
    <ul id="pre-list"></ul>
    <button id="confirm">Confirm</button>
</div>

<div>
    <ul id="todo-list"></ul>
</div>

<div id="timer">xx:xx</div>

<style>
    input:not(.check) {
        width: 200px;
    }
    #confirm {
        display: none;
    }
    #timer {
        display: none;
    }
</style>

<script>
    let steps = [];
    $('#submit').click(() => {
        $.ajax({
            url: '/api/fetchSteps/',
            type: 'POST',
            data: {
                task: $('#task').val()
            },
            success: (data) => {
                console.log(data);
                if (!data.success) {
                    alert('error');
                    return;
                }
                steps = data.steps;
                $('#pre-list').empty();
                $('#todo-list').empty();
                $('#confirm').show();
                for (let i = 0; i < steps.length; i++) {
                    $('#pre-list').append(`
                    <li>
                        <input type="text" value="${steps[i].detail}" class="detail" step-id="${i}"/>
                        <input type="number" value="${steps[i].time}" class="time" step-id="${i}"/>
                    </li>`);
                }

                $('.detail').change((e) => {
                    let id = $(e.target).attr('step-id');
                    let detail = $(e.target).val();
                    steps[id].detail = detail;
                    console.log(steps);
                });
                $('.time').change((e) => {
                    let id = $(e.target).attr('step-id');
                    let time = $(e.target).val();
                    steps[id].time = time;
                    console.log(steps);
                });
            }
        });
    });

    $('#confirm').click(() => {
        $('#todo-list').empty();
        $('#pre-list').empty();
        $('#confirm').hide();
        for (let i = 0; i < steps.length; i++) {
            $('#todo-list').append(`
            <li>
                <input type="checkbox" class="check" step-id="${i}"/>
                <span class="todo-item" step-id="${i}">${steps[i].detail}
                -
                ${steps[i].time} minutes
                </span>
            </li>`);
        }

        $('.check').change((e) => {
            let id = $(e.target).attr('step-id');
            let checked = $(e.target).is(':checked');
            steps[id].finished = checked;

            if (steps.every((step) => step.finished)) {
                alert('Great!');
                location.reload();
            }
        });

        let currTimer;

        $('.todo-item').click((e) => {
            $('#timer').show();

            let id = $(e.target).attr('step-id');
            if (steps[id].finished) {
                return;
            }

            if (currTimer) {
                clearInterval(currTimer);
                currTimer = null;
            }
            if (!steps[id].remainTime) {
                steps[id].remainTime = steps[id].time * 60;
            }

            $('#timer').text(
                `${Math.floor(steps[id].remainTime / 60)}:${Math.floor((steps[id].remainTime % 60) / 10)}${
                    steps[id].remainTime % 10
                }`
            );
            currTimer = setInterval(() => {
                steps[id].remainTime--;
                $('#timer').text(
                    `${Math.floor(steps[id].remainTime / 60)}:${Math.floor((steps[id].remainTime % 60) / 10)}${
                        steps[id].remainTime % 10
                    }`
                );

                if (steps[id].remainTime <= 0) {
                    alert('Time is up!');
                    clearInterval(currTimer);
                    currTimer = null;
                    $('#timer').hide();
                }
            }, 1000);
        });
    });
</script>

<%- include("components/footer.ejs") %>
