:root {
    --background-color: #1e1e1e;
    --input-background-color: #3e3e3e;
    --font-color: #fff;
    --font-family: 'Songti SC', 'SimSun', serif;
    --font-size: 1.5rem;
    --header-size: calc(1.5rem + 2vw);
    --font-weight: 200;
    --header-font-weight: 700;
}
